
body {
  color: purple;
  background-color: #d8da3d }

h1{
  font-family: Georgia, "Times New Roman",
            Times, serif;}

            ul.navbar {
               position: absolute;
               top: 2em;
               left: 1em;
               width: 9em }
